.topnav {
    color: black;
    background-color: red;
    overflow: hidden;
    align-items: center;
    border-radius: 5px;
  }

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  